body {

	margin: auto;
	margin: 10%;
	background-color: #aecef5;
}

h1 {

	font-family: 'Abril Fatface', cursive;
	font-size: 80pt;
	line-height: 1;
	color: #0e58c7;
}
h1:hover{

	color: yellow;
}

header {
color: white;
font-size: 20pt;
font-family: 'Rubik', sans-serif;
box-sizing: border-box;
align-content: right;
display: inline-block;
padding-bottom: 50px;


}

header div {

	padding-right: 50px;
	display: inline-block;
}

header div a {

	text-decoration: none;
}

header div a:hover {

	color: #e45942;
	text-decoration: none;
}

/*header div a:visited {

	color: pink;
	text-decoration: none;
}*/

#first img {

	padding-bottom: 180px;
}





h2 {

	font-size: 60pt;
	color: white;
	margin: auto;
	
	font-family: 'Rubik', sans-serif;
	padding-top: 200px;

}

.try {

	display: inline-block;
	width: 50%;
	/*padding: 50px;*/
	line-height: 1.5;
	color: white;
	margin: auto;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;
	/*padding-bottom: 200px;*/

}

div {

	/*padding-bottom: 200px;*/
}

.caption {


	line-height: 1.5;
	color: white;
	margin: auto;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;
	padding-left: 50px;
	font-size: 10pt;


}

.image {

	display: inline-block;
	width: 40%;
	/*padding: 50px;*/
	line-height: 1.5;
	color: white;
	margin: auto;
	padding-top: 30px;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;
	/*padding-bottom: 200px;*/

}

hr {

	height: 5px;
	background-color: white;
	border-style: none;
	/*border-style: solid;*/
	/*outline: none;*/

}

hr .line {

	height: 5px;
	background-color: white;
	border-style: solid;
	margin-left: 10%;
	display: inline-block;

}




















