body {
	

	margin: auto;
	font-family: 'Buenard', serif;
}

img {

	

	position: fixed;
        bottom: 0;
        width: 80%;
       
        margin: auto;
        margin-left: 30%;
}

strong {

	font-size: 16pt;
}


#nothing {
font-size: 2em;
color: white;
padding: 60px;

}



#text p {

	color: white;

	font-size: 2em;
	line-height: 1.5;
	background-color: #2e5df5;


	width: 50%;

	align-content: left;

	box-sizing: border-box;

	margin: auto;
	margin-right: 50%;
	padding: 35px;
	
}

#text {
background-color: #2e5df5;

width: 100%;
display: inline-block;
position: absolute;

}


@media ( max-width: 650px ) {

	img {

		width: 900px;
	
        bottom: 0;

        margin: auto;
        display: inline-block;
	} 

	#text p {
margin-top: 10%;
		font-size: 1.5em;
		width: 260px;
		margin: auto;
		padding: 10px;
		box-sizing: border-box;
		padding-top: 40px;
	
	}




	#text {
background-color: #2e5df5;

height: 100%;
display: inline-block;
margin: auto;
	
}

#nothing {

	display: none;
}

strong {

	font-size: 12pt;
}
}















