body {

	line-height: 2;
	font-family: "Lucida Console", Monaco, monospace;
	font-kerning: auto;
	margin-left: 2in;
}
p {

	color: green;
}
em {
	font-weight: bold;
	color: #044f0e;
}


h1 {

	margin-top: 3in;
	padding-bottom: 0in,


}

h2 {

	font-size: 100pt;
	margin-top: 0in;
	padding-top: 0in,
	line-height: 1;
	opacity: 20;
	margin-left: 2.5in;
}

#paragraph1 {


	color: #40c263;
}

#paragraph2 {

	color: #2fa34f;
}

#paragraph3 {

	color: #179139;
}
#side1 {
	margin-left: -.5in;
}

#scene2 {

	margin-left: -.5in;
}

#scene3 {

	margin-left: -.5in;
}