body {

	margin: auto;
	margin-left: 10%;
	margin-top: 10%;
	background-color: #aecef5;
}

#collage {

	margin: auto;
	margin-left: 10%;
	margin-top: 10%;
	box-sizing: border-box;
	display: inline-block;
}

@keyframes steve {

	0% {color: #0e58c7;}
	20% {color: #e69846;}
	40% {color:#e66756;}
	60% {color: #0b7352;}
	800% {color: #83ac4c;}
	100% {color: #0e58c7;}
}

h1 {

	font-family: 'Abril Fatface', cursive;
	font-size: 100pt;
	line-height: 1;
	color: #0e58c7;
	animation-name: steve;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}


h1:hover{

	color: yellow;
}

header {
color: white;
font-size: 20pt;
font-family: 'Rubik', sans-serif;
box-sizing: border-box;
align-content: right;
display: inline-block;
padding-bottom: 50px;


}

header div {

	padding-right: 50px;
	display: inline-block;
}

header div a {

	text-decoration: none;
}

header div a:hover {

	color: #e45942;
	text-decoration: none;
}

/*header div a:visited {

	color: pink;
	text-decoration: none;
}*/

#first img {

	padding-bottom: 180px;
}





h2 {

	font-size: 60pt;
	color: white;
	margin: auto;
	
	font-family: 'Rubik', sans-serif;
	padding-top: 200px;

}

.try {

	display: inline-block;
	width: 50%;
	/*padding: 50px;*/
	line-height: 1.5;
	color: white;
	margin: auto;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;
	padding-top: 20px;
	padding-bottom: 30px;
	/*padding-bottom: 200px;*/

}

div {

	/*padding-bottom: 200px;*/
}

.caption {


	line-height: 1.5;
	color: white;
	margin: auto;

	font-family: 'Rubik', sans-serif;
	margin-left: 20%;
	padding-left: 50px;
	font-size: 10pt;
	padding-top: 10px;


}

/*.image {

	display: inline-block;
	
	line-height: 1.5;
	color: white;
	margin: auto;
	padding-top: 30px;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;

}*/

@keyframes stacy {

	from {background-color: white;}
	to {background-color: ##aecef5;}
	

}

hr {

	height: 5px;
	/*background-color: white;*/
	border-style: none;
	animation-name: stacy;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	/*border-style: solid;*/
	/*outline: none;*/

}

hr .line {

	height: 5px;
	background-color: white;
	border-style: solid;
	margin-left: 10%;
	display: inline-block;

}

footer {
display: inline-block;
	width: 50%;
	/*padding: 50px;*/
	line-height: 1.5;
	color: white;
	margin: auto;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;

}

/*section image {

	width: 10%;
	display: inline-block;
}*/
img {

	display: inline-block;

	display: inline-block;
	/*width: 20%;*/
	/*padding: 50px;*/
	line-height: 1.5;
	color: white;
	margin: auto;
	padding-top: 30px;

	font-family: 'Rubik', sans-serif;
	margin-left: 30%;
	/*width: 200px;*/
}

body img:first-child {

	margin: auto;
	margin-left: 20%;
	/*margin-top: 10%;*/
	box-sizing: border-box;
	display: inline-block;

}




















