body {

	font-family: 'Lora', serif;
	margin: 80px 60px 60px 110px;
}

h1 {

	font-size: 4em;
}

.intro {


}

.first {
	z-index: -1;
	color: white;
	margin: auto;
}

img {

	width: 8in;
	padding: 50px 50px 20px 50px;
}

.second img {

	width: 4in;
}

footer {

	font-size: 13pt;
}