div.responsive_box {

	background-color: gray;
	padding: 40px;
	box-sizing: border-box;
	width: 100%
	max-width: 1000px;
	margin: auto;

}

@media ( max-width: 500px ) {

	div.responsive_box {

		background-color: red;

	}
}

@media ( max-width: 400px ) {

	div.responsive_box {
	background-color: thistle;
	padding: 20px;
}
}

@media ( max-width: 400px ) {

	div.responsive_box {

		display: none;
	}