body {

	font-family: 'Crimson Pro', serif;
	font-size: 20px;
	margin-left: 2.5in;
	margin-right: 3in;
	margin-top: 3in;
	background-color: #ff998a;
	line-height: 2;
	
}
h1 {

	font-size: 2em;
	line-height: 100%;
}

.crimson {

	font-size: 8em;
	color: crimson;
	margin-left: 2in;
	font-weight: bolder;
}

em {

	font-size: 1.5em;
	color: crimson;

}

div {
	line-height: 80%;
}



.razzle {

	
	font-weight: 200;
	
}

.bold {

	font-weight: bold;
}

.regular-style{

	font-style: normal;
}

.italic {

	font-style: italic;
}

.oblique {

	font-style: oblique;
}

.wide {

	letter-spacing: .5em;
}

.hamster {

	letter-spacing: 2px;
}

.capitals {

	text-transform: capitalize;
}

.upper {

	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.over {
	text-decoration: overline;
}

.through {

	text-decoration: line-through;
}


.under {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: white;
}

.under2 {

	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: white;
}

footer {


	font-size: 11pt;
}